@import url('https://fonts.googleapis.com/css?family=Pacifico');

.navbar-brand{
  font-family: 'Pacifico', cursive;
	font-size: 43px !important;
  text-shadow:
   -1px -1px 0 #f2981f,
    1px -1px 0 #f2981f,
   -1px 1px 0 #f2981f,
    1px 1px 0 #f2981f;
}

/*.hide {
  display: none !important;
}*/
