@import url('https://fonts.googleapis.com/css?family=Pacifico');

.navbar-brand{
    font-family: 'Pacifico', cursive;
    font-size: 45px !important;
    text-shadow: -2px 0 #ca7700, 0 2px #ca7700, 2px 0 #ca7700, 0 -2px #ca7700;
}

