<div class="container">
  <div class="row">
    <div class="col-md-3">
      <ul class="nav nav-pills nav-stacked">
        <li class="active"><a data-toggle="pill" href="#get">Your Places</a></li>
        <li><a data-toggle="pill" href="#post">Create New Place</a></li>
        <li><a data-toggle="pill" href="#put">Update Your Places</a></li>
        <li><a data-toggle="pill" href="#delete">Delete Your Places</a></li>
      </ul>
    </div>

    <div class="tab-content col-md-5">
      <div id="get" class="tab-pane fade in active">
        <h3>Your Places</h3>
        <div class="form">
          <form #g="ngForm" (ngSubmit)="getPlace(g.value)">
            <div class="form-group">
              <div class="form-group">
                <label class="control-label" for="getProducer">Producer ID:</label>
                <input type="text" id="inputGetPrd" name="getProducer" ngModel>
              </div>

              <label class="control-label" for="getPlace">Place ID:</label>
              <input type="text" id="inputGet" name="getPlace" ngModel>
              <button type="submit" class="btn btn-success">GET</button>
            </div>

            <div class="form-group">
              <label class="control-label col-sm-3" for="tag">Tag:</label>
              <div class="col-sm-7">
                <p class="form-control-static" name="tag">{{place?.data.tag}}</p>
              </div>
              <label class="control-label col-sm-3" for="lat">Latitude:</label>
              <div class="col-sm-7">
                <p class="form-control-static" name="lat">{{place?.data.lat}}</p>
              </div>
              <label class="control-label col-sm-3" for="lon">Longitude:</label>
              <div class="col-sm-7">
                <p class="form-control-static" name="lon">{{place?.data.lon}}</p>
              </div>
            </div>
          </form>
        </div>
      </div>

      <div id="post" class="tab-pane fade">
        <h3>Create New Place</h3>
        <div class="form">
          <form #p="ngForm" (ngSubmit)="postPlace(p.value)">
            <div class="form-group">
              <label for="pTag">Name (Tag):</label>
              <input type="text" id="pTag" name="pTag" class="form-control" ngModel required>
            </div>
            <div class="form-group">
              <label for="pLatitude">Latitude:</label>
              <input type="text" id="pLat" name="pLatitude" class="form-control" ngModel required>
            </div>
            <div class="form-group">
              <label for="pLongitude">Longitude:</label>
              <input type="text" id="pLon" name="pLongitude" class="form-control" ngModel required>
            </div>
            <div class="checkbox">
              <label><input type="checkbox" required>Are you sure?</label>
            </div>
            <br>
            <button type="submit" class="btn btn-success">CREATE</button>
          </form>
        </div>
      </div>

      <div id="put" class="tab-pane fade">
        <h3>Update Your Places</h3>
        <div class="form">
          <form #g="ngForm" (ngSubmit)="putPlace(g.value)">
            <input type="text" id="inputGet" name="putPlace" ngModel>
            <div class="form-group">
              <label for="gTag">Name (Tag):</label>
              <input type="text" id="gTag" name="pTag" class="form-control" ngModel>
            </div>
            <div class="form-group">
              <label for="gLatitude">Latitude:</label>
              <input type="text" id="gLat" name="pLatitude" class="form-control" ngModel>
            </div>
            <div class="form-group">
              <label for="gLongitude">Longitude:</label>
              <input type="text" id="gLon" name="pLongitude" class="form-control" ngModel>
            </div>
            <div class="checkbox">
              <label><input type="checkbox" required>Are you sure?</label>
            </div>
            <br>
            <button type="submit" class="btn btn-success">PUT</button>
          </form>
        </div>
      </div>

      <div id="delete" class="tab-pane fade">
        <h3>Delete Your Places</h3>
        <div class="form">
          <form #d="ngForm" (ngSubmit)="deletePlace(d.value)">
            <label class="control-label" for="delPlace">Place ID:</label>
            <input type="text" id="inputGet" name="delPlace" ngModel>
            <div class="checkbox">
              <label><input type="checkbox" required>Are you sure?</label>
            </div>
            <br>
            <button type="submit" class="btn btn-success">DELETE</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
