<h1>Producer Dashboard</h1>
<div class="container fill">
  <!-- GET FORM
  <form #getNGForm="ngForm" (ngSubmit)="getProducerPP(getNGForm.value)">
    <input type="text" id="inputID1" name="GetProducerPlaces" ngModel>
    <button type="submit" class="btn btn-success">GET</button>
  </form>
  -->

  <!-- PURE JSON
  <div *ngIf="loading">loading...</div>
  <pre>{{dProPlaces?.data | json}}</pre>
   -->
</div>

<!-- PLACES -->
<div class="container">
  <div class="row">
    <!-- GET AND POST PLACE -->
    <div class="col-sm-3">

      <h2>Places</h2>
      <ul class="places">
        <li *ngFor="let pl of oPlaces?.data"
            [class.selected]="pl === selectedPlace"
            (click)="onSelectPL(pl)">
          
          <span class="badge">
            <button (click)="deletePlace(pl.id)" class="btn btn-success"type="submit">X</button>
            {{pl.tag}}</span> 
            {{pl.lat}}<br>{{pl.lon}}
        </li>
      </ul>
      <h3>A New Place</h3>
      <div class="form">
        <form #placeNGForm="ngForm" (ngSubmit)="postPlace(placeNGForm.value)">
          <div class="form-group">
            <label for="pTag">Tag:</label>
            <input type="text" id="pTag" name="pTag" class="form-control" ngModel required>
            <label>Latitude:</label>
            <input type="text" id="pLat" name="pLat" class="form-control" ngModel required>
            <label>Longitude:</label>
            <input type="text" id="pLon" name="pLon" class="form-control" ngModel required>
          </div>
          <button class="btn btn-success" (click)="refresh1()">+</button>
        </form>
        
      </div>
    </div>
    <!-- GET PRODUCTS -->
    <div class="col-sm-3">
      <h2>Products</h2>
      <ul class="products">
        <li *ngFor="let pr of oProducts?.data"
            [class.selected]="pr === selectedProduct"
            (click)="onSelectPR(pr)">
          <span class="badge">{{pr.id}}</span> {{pr.name}}
        </li>
      </ul>

      <h3>A New Product</h3>
      <div class="form">
        <form #productNGForm="ngForm" (ngSubmit)="postProduct(productNGForm.value)">
          <div class="form-group">
            <label for="pName">Name:</label>
            <input type="text" id="pName" name="pName" class="form-control" ngModel required>
          </div>
          <button class="btn btn-success" (click)="refresh2()">+</button>
        </form>
      </div>
    </div>
    
    <!-- SELECT PLACE
    <div class="col-xs-3">
      <h2>Place's Description</h2>
      <div *ngIf="selectedPlace">
        <div class="border-place">
          <p>{{selectedPlace.tag}}</p>
          <p>Latitude: {{selectedPlace.lat}}</p>
          <p>Longitude: {{selectedPlace.lon}}</p>
        </div>
      </div>
    </div>
    -->
    <!-- MAP VIEW -->
    <h2>Map</h2>
    <div class="col-sm-6">
      <div class="border-map">
        <sebm-google-map [latitude]="lat" [longitude]="lng" [zoom]="12">
          <sebm-google-map-marker [latitude]="lat" [longitude]="lng" [label]="'M'" ></sebm-google-map-marker>
        </sebm-google-map>
      </div>
    </div>
  </div>
</div>
<br>

<!-- PRODUCTS -->
<div class="container">
  <div class="row">

    <!-- POST PRODUCT -->
    <div class="col-sm-3">
      
    </div>

    <!-- GET PRODUCTS -->
    <div class="col-sm-3">
      
    </div>

    <!-- SELECT PRODUCT -->
    <div class="col-sm-6">
      <h2>Product's Description</h2>
      <div *ngIf="selectedProduct">
        <div class="border-place">
          <p>Name: {{selectedProduct.name}}</p>
        </div>
      </div>
    </div>

  </div>
</div>