<h1>Producer Dashboard</h1>
<div class="container fill">
  <!-- GET FORM
  <form #getNGForm="ngForm" (ngSubmit)="getProducerPP(getNGForm.value)">
    <input type="text" id="inputID1" name="GetProducerPlaces" ngModel>
    <button type="submit" class="btn btn-success">GET</button>
  </form>
  -->

  <!-- oProPlaces SOLO FORMATO JSON
  <div *ngIf="loading">loading...</div>
  <pre>{{dProPlaces?.data | json}}</pre>
   -->
</div>

<!-- SELECTOR DE PLACES
<div class="form-group">
  <label for="power">Power</label>
  <select class="form-control" id="power" required>
    <option *ngFor="let p of dProPlaces?.data" [value]="p.tag">{{p.tag}}</option>
  </select>
</div>
-->
<!-- PLACES LIST -->
<!--
<h2>My Places</h2>
<ul class="places">
  <li *ngFor="let p of oProPlaces?.data"
      [class.selected]="p === selectedPlace"
      (click)="onSelect(p)">
    <span>{{p.tag}}</span>
  </li>
</ul>
-->

<!-- PLACES -->
<div class="container">
  <div class="row">
    <!--MAP VIEW-->
    <div class="col-sm-6">
      <div class="border-map">
        <sebm-google-map [latitude]="lat" [longitude]="lng">
          <sebm-google-map-marker [latitude]="lat" [longitude]="lng"></sebm-google-map-marker>
        </sebm-google-map>
      </div>
    </div>
    <!-- MY PLACES -->
    <div class="col-sm-3">
      <h2>My Places</h2>
      <ul class="places">
        <li *ngFor="let pl of oProPlaces?.data"
            [class.selected]="pl === selectedPlace"
            (click)="onSelectPL(pl)">
          <span>{{pl.tag}}</span>
        </li>
      </ul>
    </div>
    <!-- DESCRIPTION'S PLACE -->
    <div class="col-sm-3">
      <h2>Place's Description</h2>
      <div *ngIf="selectedPlace">
        <div class="border-place">
          <p>{{selectedPlace.tag}}</p>
          <p>{{selectedPlace.lat}}, {{selectedPlace.lon}}</p>
        </div>
      </div>
    </div>
  </div>
</div><br>

<!-- MY PRODUCTS -->
<div class="col-sm-3">
  <h2>My Products</h2>
  <ul class="products">
    <li *ngFor="let pr of oProProducts?.data"
        [class.selected]="pr === selectedProduct"
        (click)="onSelectPR(pr)">
      <span>{{pr.name}}</span>
    </li>
  </ul>
</div>
<!-- PLACE DESCRIPTION -->
<div class="col-sm-3">
  <h2>Product's Description</h2>
  <div *ngIf="selectedProduct">
    <div class="border-place">
      <p>{{selectedProduct.name}}</p>
    </div>
  </div>
</div>



