<h1>Producer Dashboard</h1>
<div class="container fill">
  <form #getNGForm="ngForm" (ngSubmit)="getProducerPlaces(getNGForm.value)">
    <input type="text" id="inputID1" name="GetProducer" ngModel>
    <button type="submit" class="btn btn-success">GET</button>
  </form>
  <!-- dProPlaces SOLO FORMATO JSON
  <div *ngIf="loading">loading...</div>
  <pre>{{dProPlaces?.data | json}}</pre>
   -->
</div>

<!-- SELECTOR DE PLACES
<div class="form-group">
  <label for="power">Power</label>
  <select class="form-control" id="power" required>
    <option *ngFor="let p of dProPlaces?.data" [value]="p.tag">{{p.tag}}</option>
  </select>
</div>
-->
<!-- PLACES LIST -->
<h2>My Places</h2>
<ul class="places">
  <li *ngFor="let p of dProPlaces?.data"
      [class.selected]="p === selectedPlace"
      (click)="onSelect(p)">
    <span>{{p.tag}}</span>
  </li>
</ul>

<!-- SELECT PLACE -->
<div class="container">
  <div class="row">
    <!--MAP VIEW-->
    <div class="col-sm-6">
      <div class="border-map">
        <sebm-google-map [latitude]="lat" [longitude]="lng">
          <sebm-google-map-marker [latitude]="lat" [longitude]="lng"></sebm-google-map-marker>
        </sebm-google-map>
      </div>
    </div>
    <!--PLACE DESCRIPTION-->
    <div class="col-sm-6">
      <div *ngIf="selectedPlace">
        <div class="border-place">
          <h2>{{selectedPlace.tag}}</h2>
          <p>{{selectedPlace.lat}}, {{selectedPlace.lon}}</p>
        </div>
      </div>
    </div>
  </div>
</div>



