.form-control{
  background:#f8f8f8;
  border:1px solid rgba(0, 0, 0, 0.075);
  color:#727272 !important;
  font-size:13px;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.button:hover{
 background:#8BC3A3;
 color:white;
}

h3.del{
  font-weight: bold;
  color: red;
}
