<div class="container">
  <h2>Warehouse Settings {{lgID}}</h2>
  <div class="row">
    <div class="tab-content col-md-6">
      <!-- <div id="getWarehouse">
        <h3>Your Information</h3>
        <div class="form">
          <form #getNGForm="ngForm" (ngSubmit)="getWarehouse(getNGForm.value)">
            <div class="form-group">
              <label class="form-label" for="GetWarehouse">ID:</label>
              <input type="text" id="GetWarehouse" name="GetWarehouse" ngModel>
              <button type="submit" class="btn btn-info">GET</button>
            </div>
          </form>
        </div>
      </div> -->

      <div id="putWarehouse">
        <div class="form">
          <form #putNGForm="ngForm" (ngSubmit)="putWarehouse(putNGForm.value)">
            <div class="form-group">
              <label class="control-label" for="wName">Name:</label>
              <input type="text" id="wName" name="wName"
                  class="form-control" ngModel required value="{{ware?.data.name}}">
            </div>
            <div class="form-group">
              <label class="control-label" for="wUsername">Username:</label>
              <input type="text" id="wUsername" name="wUsername"
                  class="form-control" ngModel required value="{{ware?.data.username}}">
            </div>
            <div class="form-group">
              <label class="control-label" for="wPassword">Password:</label>
              <input type="password" id="wPassword" name="wPassword"
                  class="form-control" ngModel required>
            </div>
            <div class="checkbox">
              <label><input type="checkbox" required>Are you sure?</label>
            </div>
            <br>
              <button type="submit" class="btn btn-primary">Update Warehouse</button>
          </form>
        </div>
      </div>
    </div>

    <div class="tab-content col-md-6">
      <div id="deleteWarehouse">
        <h3 class="del">Delete Your Account</h3>
        <div class="form">
          <form #deleteNGForm="ngForm" (ngSubmit)="deleteWarehouse(deleteNGForm.value)">
            <div class="form-group">
              <label class="control-label" for="delWarehouse">Password:</label>
              <input type="password" id="delWarehouse" name="delWarehouse"
                  class="form-control" ngModel required>
            </div>
            <div class="form-group">
              <label class="control-label" for="confDelWarehouse">Retype Password:</label>
              <input type="password" id="confDelWarehouse" name="confDelWarehouse"
                  class="form-control" ngModel required>
            </div>
            <div class="checkbox">
              <label><input type="checkbox" required>Are you sure?</label>
            </div>
            <br>
            <button type="submit" class="btn btn-danger">DELETE YOUR ACCOUNT</button>
          </form>
        </div>
      </div>
      <div class="confirm" id ="confirm" hidden=true>
        <h3 class="del">Su cuenta ha sido eliminada</h3>
      </div>
    </div>

    <div class="clearfix visible-lg-md-block"></div>
  </div>
</div>
