<div class="container fill">
  <h2>Warehouse</h2>
  <div class="row">
    <div class="col-md-3">
      <ul class="nav nav-pills nav-stacked">
        <li class="active"><a data-toggle="pill" href="#getWarehouse">Your Information</a></li>
        <li><a data-toggle="pill" href="#putWarehouse">Update Your Information</a></li>
        <li><a data-toggle="pill" href="#placesWarehouse">Your Places</a></li>
        <li><a data-toggle="pill" href="#deleteWarehouse">Delete Your Account</a></li>
      </ul>
    </div>

    <div class="tab-content col-md-5">
      <div id="getWarehouse" class="tab-pane fade in active">
        <h3>Your Information</h3>
        <div class="form">
          <form #g="ngForm" (ngSubmit)="getWarehouse(g.value)">
            <div class="form-group">
              <label class="control-label" for="GetWarehouse">ID:</label>
              <input type="text" id="inputGetWarehouse" name="GetWarehouse" ngModel>
              <button type="submit" class="btn btn-success">GET</button>
            </div>

            <div class="form-group">
              <label class="control-label col-sm-3" for="wName">Name:</label>
              <div class="col-sm-7">
                <p class="form-control-static" name="wName">{{ware?.data.name}}</p>
              </div>
              <label class="control-label col-sm-3" for="wUsername">Username:</label>
              <div class="col-sm-7">
                <p class="form-control-static" name="wUsername">{{ware?.data.username}}</p>
              </div>

              <!-- <label class="control-label col-sm-3" for="tag">Tag:</label>
              <div class="col-sm-7">
                <p class="form-control-static" name="tag">{{place?.data.tag}}</p>
              </div>
              <label class="control-label col-sm-3" for="lat">Latitude:</label>
              <div class="col-sm-7">
                <p class="form-control-static" name="lat">{{place?.data.lat}}</p>
              </div>
              <label class="control-label col-sm-3" for="lon">Longitude:</label>
              <div class="col-sm-7">
                <p class="form-control-static" name="lon">{{place?.data.lon}}</p>
              </div> -->
            </div>
          </form>
        </div>
      </div>

      <div id="putWarehouse" class="tab-pane fade">
        <h3>Update Your Information</h3>
        <div class="form">
          <form action="#" method="post">
            <div class="form-group">
              <label for="usr">Change User:</label>
              <input type="text" class="form-control" placeholder="User">
            </div>
            <div class="form-group">
              <label for="usr">Change Username:</label>
              <input type="text" class="form-control" placeholder="Username">
            </div>
            <div class="form-group">
              <label for="pwd">Old Password:</label>
  	          <input type="password" class="form-control" placeholder="Password">
              <label for="pwd">New Password:</label>
  	          <input type="password" class="form-control" placeholder="New Password">
              <label for="pwd">Confirm New Password:</label>
  	          <input type="password" class="form-control" placeholder="Confirm New Password">
            </div>
            <div class="checkbox">
              <label><input type="checkbox" required>Are you sure?</label>
            </div>
            <br>
            <button type="submit" class="btn btn-default">Confirm</button>
          </form>
        </div>
      </div>

      <div id="placesWarehouse" class="tap-pane fade">
        <app-place></app-place>
      </div>

      <div id="deleteWarehouse" class="tap-pane fade">
        <h3>Delete Your Account</h3>
        <div class="form">
          <form action="#" method="post">
            <div class="form-group">
              <label for="usr">User:</label>
              <input type="text" class="form-control" placeholder="Username" required>
            </div>
            <div class="form-group">
              <label for="pwd">Password:</label>
  	          <input type="password" class="form-control" placeholder="Password" required>
              <label for="pwd">Confirm Password:</label>
  	          <input type="password" class="form-control" placeholder="Confirm Password" required>
            </div>
            <div class="checkbox">
              <label><input type="checkbox" required>Are you sure?</label>
            </div>
            <br>
            <button type="submit" class="btn btn-default">Confirm</button>
          </form>
        </div>
      </div>
    </div>

    <div class="clearfix visible-lg"></div>
  </div>
</div>
