<div class="container">
  <h2>Producer Settings</h2>
  <div class="row">

    <div class="tab-content col-md-5">
      <!-- <div id="getProducer">
        <div class="form">
          <form #getNGForm="ngForm" (ngSubmit)="getProducer(getNGForm.value)">
            <input type="text" id="inputID1" name="GetProducer" ngModel>
            <button type="submit" class="btn btn-info">GET</button>
          </form>
        </div>
      </div> -->

      <div id="putProducer">
        <h3>Update Your Information</h3>
        <div class="form">
          <form #putNGForm="ngForm" (ngSubmit)="putProducer(putNGForm.value)" >
            <div class="form-group">
              <label>ID:</label>
              <input type="text" id="pID" name="pID" class="form-control"
                  ngModel required value="{{dProducer?.data.id}}">
            </div>
            <div class="form-group">
              <label>Name:</label>
              <input type="text" id="pFirstName" name="pFirstName" class="form-control"
                  ngModel required value="{{dProducer?.data.first_name}}">
            </div>
            <div class="form-group">
              <label>Last Name:</label>
              <input type="text" id="pLastName" name="pLastName" class="form-control"
                  ngModel required value="{{dProducer?.data.last_name}}">
            </div>
            <div class="form-group">
              <label>Username:</label>
              <input type="text" id="pUsername" name="pUsername" class="form-control"
                  ngModel required value="{{dProducer?.data.username}}">
            </div>
            <div class="form-group">
              <label>Password:</label>
              <input type="password" id="pPassword" name="pPassword"
                  class="form-control" ngModel required>
            </div>
            <div class="checkbox">
              <label><input type="checkbox" required>Are you sure?</label>
            </div>
            <br>
            <button type="submit" class="btn btn-primary">Update Producer</button>
          </form>
        </div>
      </div>
    </div>

    <div class="tab-content col-md-5">
      <div id="deleteProducer">
        <h3 class="del">Delete Your Account</h3>
        <div class="form">
          <form #deleteNGForm="ngForm" (ngSubmit)="deleteProducer(deleteNGForm.value)">
            <div class="form-group">
              <label class="control-label" for="delWarehouse">Password:</label>
              <input type="text" id="inputID2" name="DeleteProducer"
                  class="form-control" ngModel required>
            </div>
            <div class="form-group">
              <label class="control-label" for="delWarehouse">Password:</label>
              <input type="text" id="inputID2" name="DeleteProducer"
                  class="form-control" ngModel required>
            </div>
            <div class="checkbox">
              <label><input type="checkbox" required>Are you sure?</label>
            </div>
            <br>
            <button type="submit" class="btn btn-danger">DELETE YOUR ACCOUNT</button>
          </form>
        </div>
      </div>
    </div>

  </div>
</div>
