<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />

  <!-- use bootstrap -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">

  <!--
  <link rel="stylesheet" href="style.css">
  <link rel="stylesheet" href="thm.css">
  -->

  <meta name="viewport" content="width = device-width, initial-scale = 1">
  <title>Gretel</title>
</head>

<body>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <a class="navbar-brand">Gretel</a>
    <form class="navbar-form navbar-right">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="User">
        <input type="password" class="form-control" placeholder="Password">
      </div>
      <button type="submit" class="btn btn-success">Log In</button>
    </form>
  </div><!-- /.container-fluid -->
</nav>


<div id="amazing-carousel" class="carousel slide" data-ride="carousel" data-interval="false">
  <ol class="carousel-indicators">
    <li data-target="#amazing-carousel" data-slide-to="0" class="active"></li>
    <li data-target="#amazing-carousel" data-slide-to="1"></li>
  </ol>

  <div class="carousel-inner" role="listbox">

    <div class="item active">
      <img src="http://i42.tinypic.com/2wbykd5.png" alt="...">
      <div class="container">
        <div class="carousel-caption">
          <h1>Where you can be a part<br>of the farming market!</h1>
          <br />
          <h3>Give it a try and pick one these areas<br>that you can be a part of:</h3>
          <p>
            <span class="glyphicon glyphicon-search" aria-hidden="true"></span> Producer: Find an easyway to distribute your products. <br>
            <span class="glyphicon glyphicon-road" aria-hidden="true"></span> Transporter: Take the farmers products to the distributors. <br>
            <span class="glyphicon glyphicon-globe" aria-hidden="true"></span> Distributor: Get new source of products. <br>
            <span class="glyphicon glyphicon-qrcode" aria-hidden="true"></span> Client: Get information about the products. <br>
          </p>
          <br />
          <p>If you aren't a part of it yet go ahead!</p>
          <p><button type="submit" class="btn btn-success btn-more-padding">Get Started</button></p>
        </div>
      </div>
    </div>

    <div class="item">
      <img src="http://i42.tinypic.com/2wbykd5.png" alt="...">
      <div class="container">
        <div class="carousel-caption">
          <h1>Contact Us</h1>
          <p>Before contact us, please read FAQs, maybe your answer is there.</p>
          <p><i class="fa fa-envelope"></i> &nbsp;<a href="mailto:support@company.com">support@gretel.com</a></p>
        </div>
      </div>
    </div>

    <a class="left carousel-control" href="#amazing-carousel" role="button" data-slide="prev">
      <span class="icon-prev" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#amazing-carousel" role="button" data-slide="next">
      <span class="icon-next" aria-hidden="true"></span>
    </a>
  </div>
</div>

<footer class="footer-distributed">

  <div class="footer-right">
    <a href="#"><i class="fa fa-facebook"></i></a>
    <a href="#"><i class="fa fa-twitter"></i></a>
  </div>

  <div class="footer-left">
    <p class="footer-links">
      <a href="#">Home</a>
      ·
      <a href="#">Contact Us</a>
    </p>
  </div>

</footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script src="script.js"></script>
</body>
</html>
